.emoji-picker {
  position: absolute;
  bottom: 150px;
  right: 10px;
}

.grid-emojis {
  color: #b7b7b7 !important;
}

.container-search input {
  background: #1c212a !important;
  border: 1px solid #1c212a !important;
}

#Categories {
  border-bottom-color: #1c212a !important;
  background: #1c212a !important;
  color: #fff !important;
}

#EmojiPicker {
  background: #29303c !important;
  border-color: #1c212a !important;
}

.category.active {
  border-bottom-color: #2e5e89 !important;
}
